PORT=9000
MONGO_URI=mongodb+srv://gentilgakiza9_db_user:gentil123@cluster0.bvobfow.mongodb.net/?appName=Cluster0/CWSMS
SESSION_SECRET=cwsms_secret_2025
CLIENT_URL=https://your-frontend-url.onrender.com
